Week7/Lab73/7.3(Node-RED).txt
[{"id":"fb71a5508f09b6cf","type":"group","z":"f6f2187d.f17ca8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d78a160a659e7634","389b16734aa69346","5c4c708a162df169","3cd7591ead35c7ea","068849cceb82bd0b"],"x":134,"y":659,"w":732,"h":262},{"id":"d78a160a659e7634","type":"mqtt in","z":"f6f2187d.f17ca8","g":"fb71a5508f09b6cf","name":"","topic":"Group1RealpeachInfo","qos":"2","datatype":"auto-detect","broker":"00ae688fc657f4ef","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":700,"wires":[["389b16734aa69346","3cd7591ead35c7ea"]]},{"id":"389b16734aa69346","type":"debug","z":"f6f2187d.f17ca8","g":"fb71a5508f09b6cf","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":700,"wires":[]},{"id":"5c4c708a162df169","type":"mqtt out","z":"f6f2187d.f17ca8","g":"fb71a5508f09b6cf","name":"","topic":"Group1RealpeachHello","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"00ae688fc657f4ef","x":730,"y":800,"wires":[]},{"id":"3cd7591ead35c7ea","type":"function","z":"f6f2187d.f17ca8","g":"fb71a5508f09b6cf","name":"function 1","func":"var temp = {};\nmsg.payload = msg.payload.name\nif (msg.payload == \" C6 BA 46 2B\"){\ntemp.payload = temp.payload = {\n    door: \"open\"\n}\n}else{\n    temp.payload = temp.payload = {\n        door: \"closed\"\n    }\n}\nreturn temp;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":820,"wires":[["5c4c708a162df169","068849cceb82bd0b"]]},{"id":"068849cceb82bd0b","type":"debug","z":"f6f2187d.f17ca8","g":"fb71a5508f09b6cf","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":880,"wires":[]},{"id":"00ae688fc657f4ef","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]